./mysql/mysql-data

./Web/assets/*

./Web/protected/runtime/*
!./Web/protected/runtime/.gitignore

./Web/node_modules

./Web/protected/config/local/*
!./Web/protected/config/local/.gitignore

./Web/uploads/files/*
!./Web/uploads/files/.gitignore
!./Web/uploads/files/.htaccess

./Web/uploads/profile_image/*
!./Web/uploads/profile_image/banner
!./Web/uploads/profile_image/.gitignore

./Web/uploads/profile_image/banner/*
!./Web/uploads/profile_image/banner/.gitignore

./Web/htaccess
./Web/nbproject
./Web/idea/*

./Web/themes/*
!./Web/themes/HumHub

./Web/favicon.ico
./Web/settings
./Web/buildpath
./Web/project
./Web//protected/vendor/

**/tests/codeception/_support/_generated/**

**/tests/codeception/_output/**
./Web/php_cs.cache
